service bootanim /system/bin/bootanimation
    class core animation
    user media root
    group graphics audio
    disabled
    oneshot
    writepid /dev/stune/top-app/tasks

 service shutdownanim /system/bin/bootanimation -shutdown
    class core animation
    user media
    group graphics audio
    disabled
    oneshot
    writepid /dev/stune/top-app/tasks